.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(210, 209, 209);
    
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}


.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtube-logo{
    height: 20px;
}

.search-button{
    height: 40px;
    width: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    background-color:rgb(240,240,240) ;
    margin-left: -1px;
    margin-right: 10px;
    border-radius: 2px;

}

.search-button, 
.voice-search-button,
.upload-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip{
    font-size: 12px;
    position: absolute;
    background-color: grey;
    color: white;
    padding: 4px 8px ;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip{
    opacity: 1;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px ;
    border: none;
    background-color: rgb(234, 234, 234);
}



.search-bar::placeholder{
    font-size: 16px;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 16px;
    /*
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 191, 191);
    */
    border-radius: 1px;
    border: 1px solid rgb(192, 191, 191) ;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    width: 0;
}

.search-icon{
    height: 25px;
}

.voice-search-icon{
    height: 24px;
}

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(219, 0, 0);
    color: white;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}